In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.read_csv("New York House Pricing.csv")
data.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [3]:
data.shape

(1004966, 10)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004966 entries, 0 to 1004965
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   status          1004966 non-null  object
 1   bed             864435 non-null   float64
 2   bath            882116 non-null   float64
 3   acre_lot        709920 non-null   float64
 4   city            1004891 non-null  object
 5   state           1004966 non-null  object
 6   zip_code        1004761 non-null  float64
 7   house_size      681682 non-null   float64
 8   prev_sold_date  505867 non-null   object
 9   price           1004895 non-null  float64
dtypes: float64(6), object(4)
memory usage: 76.7+ MB

In [5]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

status
for_sale          1003152
ready_to_build       1814
Name: count, dtype: int64
********************
bed
3.0      267108
2.0      186896
4.0      166232
1.0       95250
5.0       67503
6.0       41023
7.0       14103
8.0       11302
9.0        5910
10.0       2999
12.0       2031
11.0       1493
13.0        378
15.0        335
14.0        330
20.0        261
18.0        244
16.0        188
24.0        165
19.0        125
22.0        110
17.0         96
28.0         54
21.0         40
46.0         36
42.0         30
60.0         27
99.0         23
32.0         21
86.0         21
31.0         20
27.0         13
123.0        12
33.0         11
49.0          8
30.0          8
29.0          7
68.0          6
25.0          4
23.0          3
40.0          3
36.0          3
47.0          3
Name: count, dtype: int64
********************
bath
2.0      303305
1.0      221660
3.0      209379
4.0       80134
5.0       31834
6.0       15930
7.0        7451
8.0        4889
9.0        2785
10.0       1740
12.0        842
11.0        699
13.0        361
16.0        272
15.0        152
14.0         93
19.0         90
20.0         86
22.0         70
17.0         50
18.0         43
46.0         36
28.0         29
42.0         28
51.0         27
29.0         24
198.0        23
56.0         21
123.0        12
25.0         11
21.0         11
30.0          9
33.0          5
39.0          3
36.0          3
24.0          3
27.0          3
43.0          2
35.0          1
Name: count, dtype: int64
********************
acre_lot
0.06      26512
0.11      25896
0.05      20458
0.09      18901
0.04      16639
          ...
20.37         1
131.50        1
15.85         1
7.28          1
44.75         1
Name: count, Length: 3335, dtype: int64
********************
city
New York City          50745
New York               48136
Boston                 31502
Brooklyn               23178
Bronx                  18472
                       ...
Lewes                      1
Monhegan Island Plt        1
Rehoboth Beach             1
Matinicus Isle Plt         1
Great Neck Plaza           1
Name: count, Length: 2578, dtype: int64
********************
state
New York          268563
New Jersey        251999
Massachusetts     175248
Connecticut        98221
New Hampshire      51394
Vermont            46460
Maine              36650
Rhode Island       29596
Puerto Rico        24679
Pennsylvania       17314
Virgin Islands      2573
Delaware            2135
Georgia               50
Virginia              31
South Carolina        25
Tennessee             20
West Virginia          5
Wyoming                3
Name: count, dtype: int64
********************
zip_code
10022.0    5692
10011.0    5300
10023.0    4974
11201.0    4755
10021.0    4499
           ...
4492.0        1
4535.0        1
4629.0        1
4637.0        1
12547.0       1
Name: count, Length: 3226, dtype: int64
********************
house_size
1200.0     5230
800.0      4852
1000.0     4668
1100.0     4354
750.0      4170
           ...
11033.0       1
5775.0        1
9821.0        1
10440.0       1
5046.0        1
Name: count, Length: 6456, dtype: int64
********************
prev_sold_date
2018-07-25    340
2022-01-21    320
2021-11-05    310
2021-10-18    300
2021-10-13    283
             ...
1983-12-05      1
1987-05-19      1
1985-11-20      1
1988-02-17      1
1986-05-15      1
Name: count, Length: 9986, dtype: int64
********************
price
599000.0    8093
399000.0    8076
499000.0    8050
799000.0    7414
425000.0    7258
            ...
796495.0       1
443291.0       1
381996.0       1
513819.0       1
279888.0       1
Name: count, Length: 7288, dtype: int64
********************

In [6]:
data.isnull().sum()

status                 0
bed               140531
bath              122850
acre_lot          295046
city                  75
state                  0
zip_code             205
house_size        323284
prev_sold_date    499099
price                 71
dtype: int64

In [7]:
data.describe()

,bed,bath,acre_lot,zip_code,house_size,price
count,864435.000000,882116.000000,709920.000000,1.004761e+06,6.816820e+05,1.004895e+06
mean,3.338434,2.513053,15.989320,6.852215e+03,2.167793e+03,8.866574e+05
std,2.082706,1.970696,923.173638,3.798489e+03,3.031550e+03,2.731044e+06
min,1.000000,1.000000,0.000000,6.010000e+02,1.000000e+02,0.000000e+00
25%,2.000000,1.000000,0.110000,3.261000e+03,1.127000e+03,2.699000e+05
50%,3.000000,2.000000,0.290000,7.052000e+03,1.662000e+03,4.799880e+05
75%,4.000000,3.000000,1.160000,1.002100e+04,2.512000e+03,8.450000e+05
max,123.000000,198.000000,100000.000000,9.999900e+04,1.450112e+06,8.750000e+08

In [8]:
data.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [9]:
data.drop(['status','acre_lot', 'state', 'zip_code', 'prev_sold_date'],axis=1, inplace=True)

In [10]:
data.head()

   bed  bath        city  house_size     price
0  3.0   2.0    Adjuntas       920.0  105000.0
1  4.0   2.0    Adjuntas      1527.0   80000.0
2  2.0   1.0  Juana Diaz       748.0   67000.0
3  4.0   2.0       Ponce      1800.0  145000.0
4  6.0   2.0    Mayaguez         NaN   65000.0

In [11]:
data['city'] = data['city'].fillna("Brooklyn")

In [12]:
data['city'].isnull().sum()

0

In [13]:
data['house_size'].isnull().sum()

323284

In [14]:
data['house_size'].median()

1662.0

In [15]:
data['house_size'] = data['house_size'].fillna(data['house_size'].median())

In [16]:
data['house_size'].isnull().sum()

0

In [17]:
data['bed'].isnull().sum()

140531

In [18]:
data['bed'] = data['bed'].fillna(data['bed'].median())

In [19]:
data['bed'].median()

3.0

In [20]:
data['bed'].isnull().sum()

0

In [21]:
data['bath'].median()

2.0

In [22]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [23]:
data['bath'].isnull().sum()

0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004966 entries, 0 to 1004965
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   bed         1004966 non-null  float64
 1   bath        1004966 non-null  float64
 2   city        1004966 non-null  object
 3   house_size  1004966 non-null  float64
 4   price       1004895 non-null  float64
dtypes: float64(4), object(1)
memory usage: 38.3+ MB

In [25]:
data['price'].isnull().sum()

71

In [26]:
data = data.dropna()

In [27]:
data.head(10)

   bed  bath           city  house_size     price
0  3.0   2.0       Adjuntas       920.0  105000.0
1  4.0   2.0       Adjuntas      1527.0   80000.0
2  2.0   1.0     Juana Diaz       748.0   67000.0
3  4.0   2.0          Ponce      1800.0  145000.0
4  6.0   2.0       Mayaguez      1662.0   65000.0
5  4.0   3.0  San Sebastian      2520.0  179000.0
6  3.0   1.0         Ciales      2040.0   50000.0
7  3.0   2.0          Ponce      1050.0   71600.0
8  2.0   1.0          Ponce      1092.0  100000.0
9  5.0   3.0     Las Marias      5403.0  300000.0

In [28]:
data['bed']=data['bed'].astype(int)

In [29]:
data['bath']=data['bath'].astype(int)

In [30]:
data['house_size'] =data['house_size'].astype(int)

In [31]:
data['price']=data['price'].astype(int)

In [32]:
data.head(10)

   bed  bath           city  house_size   price
0    3     2       Adjuntas         920  105000
1    4     2       Adjuntas        1527   80000
2    2     1     Juana Diaz         748   67000
3    4     2          Ponce        1800  145000
4    6     2       Mayaguez        1662   65000
5    4     3  San Sebastian        2520  179000
6    3     1         Ciales        2040   50000
7    3     2          Ponce        1050   71600
8    2     1          Ponce        1092  100000
9    5     3     Las Marias        5403  300000

In [33]:
data = data[~data['house_size'] < 150]

In [34]:
data.describe()

                bed          bath    house_size         price
count  1.004895e+06  1.004895e+06  1.004895e+06  1.004895e+06
mean   3.291099e+00  2.450367e+00  2.005069e+03  8.866574e+05
std    1.935223e+00  1.854013e+00  2.508016e+03  2.731044e+06
min    1.000000e+00  1.000000e+00  1.000000e+02  0.000000e+00
25%    2.000000e+00  2.000000e+00  1.360000e+03  2.699000e+05
50%    3.000000e+00  2.000000e+00  1.662000e+03  4.799880e+05
75%    4.000000e+00  3.000000e+00  2.040000e+03  8.450000e+05
max    1.230000e+02  1.980000e+02  1.450112e+06  8.750000e+08

In [35]:
data['city'].unique()

array(['Adjuntas', 'Juana Diaz', 'Ponce', ..., 'Highland', 'Sarine Rd',
       'Great Neck Plaza'], dtype=object)

In [36]:
data['price_per_sqft'] = data['price']/data['house_size']

In [37]:
data.describe()

                bed          bath    house_size         price  price_per_sqft
count  1.004895e+06  1.004895e+06  1.004895e+06  1.004895e+06    1.004895e+06
mean   3.291099e+00  2.450367e+00  2.005069e+03  8.866574e+05    4.517585e+02
std    1.935223e+00  1.854013e+00  2.508016e+03  2.731044e+06    1.056659e+03
min    1.000000e+00  1.000000e+00  1.000000e+02  0.000000e+00    0.000000e+00
25%    2.000000e+00  2.000000e+00  1.360000e+03  2.699000e+05    1.728111e+02
50%    3.000000e+00  2.000000e+00  1.662000e+03  4.799880e+05    2.776389e+02
75%    4.000000e+00  3.000000e+00  2.040000e+03  8.450000e+05    4.807461e+02
max    1.230000e+02  1.980000e+02  1.450112e+06  8.750000e+08    3.586066e+05

In [38]:
data['city'].value_counts()

city
New York City          50745
New York               48136
Boston                 31502
Brooklyn               23253
Bronx                  18472
                       ...
Lewes                      1
Monhegan Island Plt        1
Rehoboth Beach             1
Matinicus Isle Plt         1
Great Neck Plaza           1
Name: count, Length: 2578, dtype: int64

In [39]:
data['city'] = data['city'].apply(lambda x: x.strip())
location_count  = data['city'].value_counts()

In [40]:
location_count_less_then_10 = location_count[location_count <=10]
location_count_less_then_10

city
Orneville Township     10
Huntingdon Valley      10
Hanover Township       10
Popponesset Island     10
Lacey                  10
                       ..
Lewes                   1
Monhegan Island Plt     1
Rehoboth Beach          1
Matinicus Isle Plt      1
Great Neck Plaza        1
Name: count, Length: 396, dtype: int64

In [41]:
data['city'] = data['city'].apply(lambda x: 'other' if x in location_count_less_then_10 else x)

In [42]:
data['city'].value_counts().head(30)

city
New York City    50745
New York         48136
Boston           31502
Brooklyn         23253
Bronx            18472
Philadelphia     10416
Jersey City      10416
Staten Island     8033
Newark            7809
Manhattan         6729
Yonkers           5956
Paterson          5165
Flushing          4902
San Juan          4788
Hartford          4496
Manchester        4436
Springfield       4411
Providence        4223
Fort Lee          4208
Jamaica           3920
Worcester         3785
Ludlow            3467
Cambridge         3341
Waterbury         3299
Forest Hills      3297
Monroe            3257
Bristol           3217
Toms River        3112
Hoboken           3072
North Bergen      3019
Name: count, dtype: int64

In [43]:
(data['house_size']/data['bed']).describe()

count    1.004895e+06
mean     6.549582e+02
std      7.093832e+02
min      1.351220e+01
25%      4.502250e+02
50%      5.540000e+02
75%      7.468000e+02
max      2.900224e+05
dtype: float64

In [44]:
data = data[((data['house_size']/data['bed'])>=300)]
data.describe()

,bed,bath,house_size,price,price_per_sqft
count,956699.000000,956699.000000,9.566990e+05,9.566990e+05,956699.000000
mean,3.184899,2.416531,2.043137e+03,8.730618e+05,431.571985
std,1.722840,1.485102,2.560478e+03,1.838599e+06,573.244449
min,1.000000,1.000000,3.000000e+02,0.000000e+00,0.000000
25%,2.000000,2.000000,1.398000e+03,2.699000e+05,169.771955
50%,3.000000,2.000000,1.662000e+03,4.790000e+05,271.200000
75%,4.000000,3.000000,2.100000e+03,8.380000e+05,461.985216
max,86.000000,56.000000,1.450112e+06,1.690000e+08,28206.979543

In [45]:
data.shape

(956699, 6)

In [46]:
data['price'].mean()

873061.8388197332

In [47]:
data = data[data['price']>0]

In [48]:
data.price_per_sqft.describe()

count    956600.000000
mean        431.616649
std         573.257298
min           0.000602
25%         169.799272
50%         271.234428
75%         462.093863
max       28206.979543
Name: price_per_sqft, dtype: float64

In [49]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('city'):
        m = np.mean(subdf.price_per_sqft)
        
        st = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <=(m+st))]
        df_output =  pd.concat([df_output, gen_df], ignore_index=True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

,bed,bath,house_size,price,price_per_sqft
count,757963.000000,757963.000000,757963.000000,7.579630e+05,757963.000000
mean,3.158766,2.381573,1972.285127,7.368726e+05,386.640092
std,1.628777,1.397981,1518.199005,1.026138e+06,371.479109
min,1.000000,1.000000,300.000000,3.850000e+02,0.231649
25%,2.000000,2.000000,1355.000000,2.800000e+05,179.140127
50%,3.000000,2.000000,1662.000000,4.750000e+05,270.156438
75%,4.000000,3.000000,2128.000000,7.990000e+05,436.221420
max,68.000000,46.000000,99999.000000,6.000000e+07,4821.428571

In [50]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df  in df.groupby('city'):
        bed_stats = {}
        for bed, bed_df in location_df.groupby('bed'):
            bed_stats[bed] = {
                'mean': np.mean(bed_df.price_per_sqft),
                'std': np.std(bed_df.price_per_sqft),
                'count': bed_df.shape[0]
            }
        for bed, bed_df in location_df.groupby('bed'):
            stats = bed_stats.get(bed-1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bed_df[bed_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [51]:
data = bhk_outlier_remover(data)

In [52]:
data.shape

(458068, 6)

In [53]:
data

        bed  bath   city  house_size   price  price_per_sqft
0         3     2  Abbot        1792  149000       83.147321
1         3     2  Abbot        1662   21900       13.176895
2         3     2  Abbot        1662   39900       24.007220
3         3     2  Abbot        1662   39900       24.007220
4         3     2  Abbot        1662   39900       24.007220
...     ...   ...    ...         ...     ...             ...
757954    4     2  other        1640  399900      243.841463
757955    3     1  other         960  247000      257.291667
757957    3     1  other        1120  300000      267.857143
757959    3     2  other        1008  350000      347.222222
757960    3     2  other        1008  350000      347.222222

[458068 rows x 6 columns]

In [54]:
data.drop(columns=['price_per_sqft'], inplace=True)

In [55]:
data.head()

   bed  bath   city  house_size   price
0    3     2  Abbot        1792  149000
1    3     2  Abbot        1662   21900
2    3     2  Abbot        1662   39900
3    3     2  Abbot        1662   39900
4    3     2  Abbot        1662   39900

In [56]:
data.to_csv("Cleaned_data.csv")

In [57]:
X = data.drop(columns=['price'])
y = data['price']

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [60]:
print(X_train.shape)
print(X_test.shape)

(366454, 4)
(91614, 4)

 # Applying Linear Regression

In [61]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['city']), remainder='passthrough')

In [62]:
scaler = StandardScaler()

In [63]:
lr = LinearRegression()

In [64]:
pipe = make_pipeline(column_trans, scaler, lr)

In [65]:
pipe.fit(X_train, y_train)

C:\Users\arfan\anaconda3\envs\py310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['city'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [66]:
y_pred_lr = pipe.predict(X_test)

In [67]:
r2_score(y_test, y_pred_lr)

0.6477948636131341

# Applying Lasso

In [68]:
lasso = Lasso()

In [69]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [70]:
pipe.fit(X_train, y_train)

C:\Users\arfan\anaconda3\envs\py310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\arfan\anaconda3\envs\py310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.691e+16, tolerance: 5.189e+13
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['city'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [71]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

0.647794976805367

# Applying Ridge

In [72]:
ridge = Ridge()

In [73]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [74]:
pipe.fit(X_train, y_train)

C:\Users\arfan\anaconda3\envs\py310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['city'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [75]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.6477947330533742

In [76]:
import pickle

In [77]:
pickle.dump(pipe, open("RidgeModel.pkl", 'wb'))

In [78]:
X_test

        bed  bath           city  house_size
326644    5     4     Longmeadow        3657
387220    1     1   Mount Vernon         700
482421    1     2  New York City         685
357664    3     2        Melrose        2437
78521     3     2        Bristol        1477
...     ...   ...            ...         ...
463489    1     1  New York City         700
165137    3     2        Danbury        1080
48283     1     2         Boston         964
167534    4     3           Deal        1662
646769    1     2       Stoneham         800

[91614 rows x 4 columns]

In [79]:
pipe.predict()

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [80]:
inputs = pd.DataFrame([[5,4,'Longmeadow', 3657]], columns=['bed', 'bath', 'city', 'house_size'])

In [81]:
pipe.predict(inputs)

array([1123296.22158783])